global:
  smtp_smarthost: ''
  smtp_auth_username: ''
  smtp_auth_password: ''
  smtp_require_tls: true
  smtp_from: ''

route:
  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send the initial notification.
  # This way ensures that you get multiple alerts for the same group that start
  # firing shortly after another are batched together on the first
  # notification.
  group_wait: 45s
  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: 10m
  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: 2h
  # A default receiver
  receiver: 'status-admin'

  routes:
    - receiver: null
      matchers:
        - severity=none

    - receiver: 'status-uptime-websiteforalertingtest'
      group_by: ['instance']
      matchers:
        # - service="httpdown"
        - instance="https://websiteforalertingtest.com"

    - receiver: 'status-example'
      group_by: ['instance']
      matchers:
        # - service="sslexpiry"
        - instance="https://example.com"

receivers:
  - name: 'status-admin'
    email_configs:
    - to: 'email@epfl.ch, email+statusadmin@epfl.ch'
      headers :
        Subject: '(admin) Highly urgent... Please look ASAP !!'
      text: '{ { . CommonAnnotations. summary } } '

  - name: 'status-uptime-all'
    email_configs:
    - to: 'email@epfl.ch, email+statusuptimeall@epfl.ch'
      headers :
        Subject: '(uptime) Highly urgent... Please look ASAP !!'
      text: '{ { . CommonAnnotations. summary } } '

  - name: 'status-uptime-websiteforalertingtest'
    email_configs:
    - to: 'email@epfl.ch, email+statusuptimewebsiteforalertingtest@epfl.ch'
      headers :
        Subject: '{{ if eq .Status "firing" }}[{{ .GroupLabels.instance }}] Alert - {{ .GroupLabels.servidor }} - {{ .GroupLabels.alertname }} {{ else if eq .Status "resolved" }}[{{ .GroupLabels.environment }}] Recovery - {{ .GroupLabels.servidor }} - {{ .GroupLabels.alertname }}{{end}}'
      text: '{ { . CommonAnnotations. summary } } '

  - name: 'status-example'
    email_configs:
    - to: 'email@epfl.ch, email+statusexample@epfl.ch'
      headers :
        Subject: '(uptime) Highly urgent... Please look ASAP !!'
      text: '{ { . CommonAnnotations. summary } } '

  - name: 'status-ssl'
    email_configs:
    - to: 'email@epfl.ch, email+statusssl@epfl.ch'
      headers :
        Subject: '(ssl) Highly urgent... Please look ASAP !!'
      text: '{ { . CommonAnnotations. summary } } '
