AUTH_SECRET=
ENTRA_ID=
ENTRA_SECRET=
ENTRA_ISSUER=https://login.microsoftonline.com/<tenant-id>/v2.0
PROMETHEUS_API_URL="http://localhost:9090"
ALERTMANAGER_API_URL="http://localhost:9093"
BLACKBOX_API_URL="http://localhost:9115"
