apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: svc0041t-status-test
type: Opaque
stringData:
  AUTH_SECRET: <auth_secret>
  NEXTAUTH_URL: <nextauth_url>
  AUTH_TRUST_HOST: <auth_trust_host>
  ENTRA_ID: <entra_id>
  ENTRA_SECRET: <entra_secret>
  ENTRA_ISSUER: "https://login.microsoftonline.com/<tenant_id>/v2.0" # replace <tenant_id> with your tenant id
  PROMETHEUS_API_URL: "http://localhost:9090"
  ALERTMANAGER_API_URL: "http://localhost:9093"
  BLACKBOX_API_URL: "http://localhost:9115"
  ADMIN_GROUPS: "status-admins_AppGrpU" # Separated by a comma without space

  SMTP_AUTH_USERNAME: <smtp_auth_username>
  SMTP_AUTH_PASSWORD: <smtp_auth_password>
  SMTP_FROM: <smtp_from>

---

apiVersion: v1
kind: Secret
metadata:
  name: svc0041-pull-secret
  namespace: svc0041t-status-test
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <token> # Here we use token of quay robot with pull access of all images used in deployment YAML files.
